Repository skills/exercise-toolkit, pull requests merged in 2025-04, with the labels that each got.

#21 feat: update start-exercise workflow to replace README with template message
  .github/workflows/start-exercise.yml
  markdown-templates/readme/exercise-started.md
Labels: workflows, templates

#22 remove discussion and github status mentions from readme template footer
  markdown-templates/readme/exercise-started.md
Labels: templates

#24 Fixed typo in readme exercise-started template
  markdown-templates/readme/exercise-started.md
Labels: templates

#25 update finish-exercise workflow to use exercise-finished README template
  .github/workflows/finish-exercise.yml
Labels: workflows

#26 update start-exercise workflow to use updated exercise-started template with simplified footer
  .github/workflows/start-exercise.yml
Labels: workflows

#31 chore: update self references of exercise toolkit to latest commit
  .github/workflows/finish-exercise.yml
  .github/workflows/start-exercise.yml
Labels: workflows, skip-changelog

#34 feat: lower the inflatocat image size in step-results-table
  markdown-templates/step-feedback/step-results-table.md
Labels: templates

#35 ci: update release-drafter configuration with version-resolver
  .github/release-drafter.yml
Labels: maintenance

#36 docs: update README with table of contents and notable resources section
  README.md
Labels: documentation
